

body {
  font-family: futura;
  background-image: url("messydesk.jpg");
  background-size:cover;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #5ED5FF;
    margin: auto;
    width: 70%;
    outline-style: hidden;
    outline-width: 0px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #5ED5FF;
    display:block;
}

/* Float the list items side by side */
ul.tab li {
    text-align: center;
    margin: auto;
    display:inline-block;
}

/* Style the links inside the list items */
ul.tab li a {
    text-align: center;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 52px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
    font-family:futura;
    border-width: 1px;
    border-color: #FFFFFF;
    background-color: #5ED5FF;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #99ddff;
    margin: auto;
    width: 70%;
    background-color: #ffffff;


}
.img-title {
    width:70%;
    height:70%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -125px;
    border-top: 135px solid #ffffff;
    border-bottom: 10px solid #ffffff;
    z-index: -1;
    position:relative;
}
.img-profile {
    border-radius: 50%;
     width:250px;
     height:250px;
     margin:auto;
     display:block; 
     margin-bottom: none;
     margin-top:50px;
 }

.img-circle {
    margin:auto;
    border-radius: 50%;
     width:40px;
     height:40px;
     display:inline-block;
     margin: 6px;
}
.img-medcircle{
     border-radius: 50%;
     width:50px;
     height:50px;
     display:block;
     margin:auto;
     padding-left: 3px;
     padding-right: 3px;

}
h1{
    color: #000000;
    background-color: #ffffff;
    font-family: futura;
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    outline-style: hidden;
    outline-width: 0px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 70%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFF10;
    display: block;
    margin: auto;
}
h2{
    color: #ffffff;
    background-color: #5ED5FF;
    font-family: futura;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    outline-style: hidden;
    outline-width: 0px;
    text-shadow: none;
    width: 70%;
    text-align: center;
    border-style: solid;
    border-width: 0px;
    border-color: #FFFF10;
    display: block;
    margin:auto;
}

h3{
    color: #ffffff;
    background-color: #5ED5FF;
    font-family: futura;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    margin: auto;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin-bottom: 10px;
    margin-top:5px;
    margin-right: 0px;
    margin-left: 0px;

}
h4{
    color: #ffffff ;
    background-color: #ffffff;
    font-family: futura;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    outline-style: none;
    outline-color: #FFFF10;
    text-shadow: none;
    margin: auto;
    width: 70%;
    text-align: center;
}
h5{
    color: #ffffff;
    background-color: #5ED5FF;
    font-family: futura;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top:25px;
    margin-right: 5px;
    margin-left: 5px;
    display:inline;
    padding-left: 20%;
    padding-right:20%;
    padding-top: 3px;
    padding-bottom: 3px;
        border-radius: 25px;

}
p{
    margin: auto;
    width: 70%;
    color: #000000;
    background-color: #ffffff;
    /*font-family: "Georgia", Georgia, serif;*/
    font-family: futura;
    font-size: 15px;
    font-style: normal;
    font-weight: none;
    font-variant: normal;
    outline-style: none;
    outline-color: #FFFF10;
    text-shadow: none;
    text-align: center;
}

.homepics{
margin:auto;
    width: 250px;
    height:350px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}
figcaption{
    display:block;
    color: #000000;
    font-family: "Helvetica", Times, sans-serif;
    font-size: 15px;  
    text-align: center;

}
div.figure {
    border: thin silver solid;
  margin: auto;
  padding: none;
  display:inline-block;
background-color: white;
width:350px;
float: none;
margin: 5px;
}
div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: none;
    display:block;
background-color: white;
margin:auto;
}
.container{
    width:100%;
    text-align:center;
    margin-bottom: 50px;
    margin-top: 50px;
}
ul#menu{
    text-align: center;
}

@font-face {
   font-family: bladeRunner;
   src: url(bladeRunner.ttf);

}
@font-face {
   font-family: futura;
   src: url(futura.woff);
}